.text-center {
  text-align: center;
}
.center-text {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-row {
  flex-direction: row;
}
.center--column {
  flex-direction: column;
}
.gap {
  gap: var(--gap);
}
.center--left {
  justify-content: flex-start;
}
.center-column--left {
  justify-content: flex-start;
}

.truncate-1 {
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
